{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
  {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
</ul>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- $menuEntries := .menuEntries }}
{{- $lastIndex := sub (len $menuEntries) 1 }}
{{- range $index, $entry := $menuEntries }}
{{- $isLast := eq $index $lastIndex }}
{{- $baseClasses := cond $isLast
    "block py-3 pr-4 pl-3 hover:underline hover:underline-offset-4 lg:border-0 lg:p-0"
    "block py-3 pr-4 pl-3 border-b border-border hover:underline hover:underline-offset-4 lg:border-0 lg:p-0"
}}
{{- $attrs := dict "href" $entry.URL }}
{{- if $page.IsMenuCurrent $entry.Menu $entry }}
{{- $attrs = merge $attrs (dict
    "class" (printf "%s underline underline-offset-4 font-semibold" $baseClasses)
    "aria-current" "page"
  )
}}
{{- else if $page.HasMenuCurrent $entry.Menu $entry }}
{{- $attrs = merge $attrs (dict
    "class" (printf "%s underline underline-offset-4" $baseClasses)
    "aria-current" "true"
  )
}}
{{- else }}
{{- $attrs = merge $attrs (dict "class" $baseClasses) }}
{{- end }}
{{- $name := $entry.Name }}
{{- with $entry.Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<li>
  <a {{- range $k, $v := $attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>
    {{ $name }}
  </a>
  {{- with $entry.Children }}
  <ul>
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  {{- end }}
</li>
{{- end }}
{{- end }}
