{{ define "main" }}
<div class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-6 lg:px-8">

    <h2 class="text-4xl font-semibold tracking-tight text-pretty sm:text-5xl">{{ .Title }}</h2>
    <p class="mt-2 text-muted-foreground">
      {{ $n := len .Pages }}
      {{ $n }} Tag{{ if ne $n 1 }}s{{ end }}
    </p>

    <hr class="my-10" />

    <ul>
      {{ range .Pages.ByTitle }}
      <li>
        <a href="{{ .RelPermalink }}"
           class="group flex items-center justify-between gap-x-4 py-4">
          <h3 class="text-base sm:text-lg/6 font-semibold text-foreground group-hover:underline">
            {{ .LinkTitle | plainify }}
          </h3>
          <span class="shrink-0 text-sm text-muted-foreground">
            {{ $count := len .Pages }}
            {{ $count }} {{ cond (eq $count 1) "Beitrag" "Beiträge" }}
          </span>
        </a>
      </li>
      {{ end }}
    </ul>

  </div>
</div>
{{ end }}
